<?xml version="1.0" encoding="utf-8"?>
<UserConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <KeyboardShortcuts />
  <HasBeenRun>true</HasBeenRun>
  <FirstRunDate>2025-07-16T16:12:22.7482562+01:00</FirstRunDate>
  <Version>3</Version>
  <FormStates>
    <FormState>
      <Name>SettingsForm</Name>
      <Location>
        <X>0</X>
        <Y>0</Y>
      </Location>
      <Size>
        <Width>930</Width>
        <Height>966</Height>
      </Size>
      <Maximized>false</Maximized>
    </FormState>
    <FormState>
      <Name>ScannerSharingForm</Name>
      <Location>
        <X>0</X>
        <Y>0</Y>
      </Location>
      <Size>
        <Width>930</Width>
        <Height>966</Height>
      </Size>
      <Maximized>false</Maximized>
    </FormState>
    <FormState>
      <Name>AutoSaveSettingsForm</Name>
      <Location>
        <X>0</X>
        <Y>0</Y>
      </Location>
      <Size>
        <Width>930</Width>
        <Height>458</Height>
      </Size>
      <Maximized>false</Maximized>
    </FormState>
    <FormState>
      <Name>AdvancedProfileForm</Name>
      <Location>
        <X>0</X>
        <Y>0</Y>
      </Location>
      <Size>
        <Width>930</Width>
        <Height>542</Height>
      </Size>
      <Maximized>false</Maximized>
    </FormState>
    <FormState>
      <Name>BatchScanForm</Name>
      <Location>
        <X>0</X>
        <Y>0</Y>
      </Location>
      <Size>
        <Width>930</Width>
        <Height>966</Height>
      </Size>
      <Maximized>false</Maximized>
    </FormState>
    <FormState>
      <Name>ChooseDeviceForm</Name>
      <Location>
        <X>0</X>
        <Y>0</Y>
      </Location>
      <Size>
        <Width>930</Width>
        <Height>288</Height>
      </Size>
      <Maximized>false</Maximized>
    </FormState>
    <FormState>
      <Name>ProfilesForm</Name>
      <Location>
        <X>0</X>
        <Y>0</Y>
      </Location>
      <Size>
        <Width>930</Width>
        <Height>966</Height>
      </Size>
      <Maximized>false</Maximized>
    </FormState>
    <FormState>
      <Name>EditProfileForm</Name>
      <Location>
        <X>0</X>
        <Y>0</Y>
      </Location>
      <Size>
        <Width>930</Width>
        <Height>966</Height>
      </Size>
      <Maximized>false</Maximized>
    </FormState>
    <FormState>
      <Name>GtkPreviewForm</Name>
      <Location>
        <X>0</X>
        <Y>0</Y>
      </Location>
      <Size>
        <Width>930</Width>
        <Height>966</Height>
      </Size>
      <Maximized>false</Maximized>
    </FormState>
    <FormState>
      <Name>GtkDesktopForm</Name>
      <Location>
        <X>0</X>
        <Y>0</Y>
      </Location>
      <Size>
        <Width>1880</Width>
        <Height>966</Height>
      </Size>
      <Maximized>false</Maximized>
    </FormState>
  </FormStates>
  <PdfSettings>
    <Metadata />
    <Encryption />
  </PdfSettings>
  <BatchSettings>
    <ProfileDisplayName></ProfileDisplayName>
    <ScanType>MultipleWithPrompt</ScanType>
    <OutputType>Load</OutputType>
    <SaveSeparator>FilePerPage</SaveSeparator>
    <SavePath></SavePath>
  </BatchSettings>
  <SidebarVisible>true</SidebarVisible>
</UserConfig>