{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash

# packages.yaml hash: {{ include ".chezmoidata/packages.yaml" | sha256sum }}

echo "----- start: 03-install-packages.sh -----"

fi

{{ range .packages.linux.cargo -}}
cargo install {{ . | quote }}
{{ end -}}

{{ range .packages.linux.yay -}}
yay -S --noconfirm --needed {{ . | quote }}
{{ end -}}

{{ range .packages.linux.flatpak -}}
flatpak install -y {{ . | quote }}
{{ end -}}

if command -v uv >/dev/null 2>&1; then
    # aider-chat requires special flags
    uv tool install --force --python python3.12 --with pip aider-chat@latest
else
  tput setaf 3
  echo "uv not found, skipping uv package installation." | tee -a /tmp/chezmoi_warnings.log
  tput sgr0
fi

echo "----- end: 03-install-packages.sh -----"
{{ end -}}
