{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash

# packages.yaml hash: {{ include ".chezmoidata/packages.yaml" | sha256sum }}

echo "----- start: 03-install-packages.sh -----"

if command -v cargo >/dev/null 2>&1; then
  {{ range .packages.linux.cargo -}}
  cargo install {{ . | quote }}
  {{ end -}}
else
  tput setaf 3
  echo "cargo not found, skipping cargo package installation." | tee -a /tmp/chezmoi_warnings.log
  tput sgr0
fi

if command -v yay >/dev/null 2>&1; then
  {{ range .packages.linux.yay -}}
  yay -S --noconfirm --needed {{ . | quote }}
  {{ end -}}
else
  tput setaf 3
  echo "yay not found, skipping yay package installation." | tee -a /tmp/chezmoi_warnings.log
  tput sgr0
fi

if command -v flatpak >/dev/null 2>&1; then
    {{ range .packages.linux.flatpak -}}
    flatpak install -y --system {{ . | quote }}
    {{ end -}}
else
  tput setaf 3
  echo "flatpak not found, skipping flatpak package installation." | tee -a /tmp/chezmoi_warnings.log
  tput sgr0
fi

if command -v uv >/dev/null 2>&1; then
    # aider-chat requires special flags
    uv tool install --force --python python3.12 --with pip aider-chat@latest
else
  tput setaf 3
  echo "uv not found, skipping uv package installation." | tee -a /tmp/chezmoi_warnings.log
  tput sgr0
fi

echo "----- end: 03-install-packages.sh -----"
{{ end -}}
