#!/bin/bash

# homebrew.zsh hash: {{ include "dot_config/zsh/homebrew.zsh" | sha256sum }}

echo "----- run: 50-reminder-zsh-homebrew-sourcing.sh -----"

tput setaf 3
echo "Run \`source $XDG_CONFIG_HOME/zsh/homebrew.zsh\` to refresh the zsh homebrew config" | tee -a /tmp/chezmoi_warnings.log
tput sgr0

echo "----- end: 50-reminder-zsh-homebrew-sourcing.sh -----"
